.grid line {
    color: #ccc;
}

.group-block rect {
    opacity: 25%;
}

.group-block rect.even {
    fill: #999;
}

.group-block rect.odd {
    fill: #777;
}

.group-block-label text {
    fill: white;
}

.tasks-labels text {
    fill: white;
    text-anchor: middle;
}

.tasks rect {
    fill: darkcyan;
}

.milestones-labels text {
    fill: white;
    text-anchor: middle;
}

.milestones rect {
    fill: darkcyan;
}