
/* GRID */
.block-language-gantt .grid {
    color: #ccc;
}

/* GROUP BLOCK */
.block-language-gantt .group-block rect {
    opacity: 25%;
}

.block-language-gantt .group-block rect.even {
    fill: #999;
}

.block-language-gantt .group-block rect.odd {
    fill: #777;
}

.block-language-gantt .group-block-label text {
    fill: white;
    font-size: 1em;
}

/* TASKS */
.block-language-gantt .tasks-labels text {
    fill: white;
    text-anchor: middle;
    font-size: 0.8em;
}

.block-language-gantt .tasks-labels tspan {
    text-anchor: middle;
}

.block-language-gantt .tasks rect {
    fill: rgb(30, 41, 41);
}

.block-language-gantt .tasks rect[onclick^=document],
.block-language-gantt .tasks-labels text[onclick^=document] {
    cursor: pointer;
}

/* MILESTONES */
.block-language-gantt .milestones-labels text {
    fill: white;
    text-anchor: middle;
    font-size: 0.7em;
}

.block-language-gantt .milestones rect {
    fill: darkcyan;
    stroke: #aaa;
    stroke-width: 1px;
}

.block-language-gantt .milestones rect[onclick^=document],
.block-language-gantt .milestones-labels text[onclick^=document] {
    cursor: pointer;
}

/* TODAY MARKER */
.block-language-gantt .today-marker line {
    stroke: brown;
    stroke-width: 2px;
}

/* DEPENDENCIES */
.block-language-gantt .dependencies path {
    stroke-width: 2px;
    stroke: #c7254e;
    fill: none;
}

.block-language-gantt .dependencies path.arrow-head {
    stroke: none;
    fill: #c7254e;
}

/* TITLE */
.block-language-gantt text.title{
    fill: #ddd;
    text-anchor: middle;
    font-size: 1.5em;
    font-weight: bold;
}

/* CUSTOM CLASSES */
.block-language-gantt .tasks rect.in-progress, 
.block-language-gantt .milestones rect.in-progress, 
.block-language-gantt .dependencies path.arrow-head.in-progress {
    fill: #ff9200;
}

.block-language-gantt .dependencies path.in-progress {
    stroke: #ff9200;
}

.block-language-gantt .tasks rect.done, 
.block-language-gantt .milestones rect.done,
.block-language-gantt .dependencies path.arrow-head.done {
    fill: #2da023;
}

.block-language-gantt .dependencies path.done {
    stroke: #2da023;
}

.block-language-gantt .tasks rect.pending, 
.block-language-gantt .milestones rect.pending,
.block-language-gantt .dependencies path.arrow-head.pending {
    fill: #2378a0;
}

.block-language-gantt .dependencies path.pending {
    stroke: #2378a0;
}

.block-language-gantt .tasks rect.critical, 
.block-language-gantt .milestones rect.critical,
.block-language-gantt .dependencies path.arrow-head.critical {
    fill: #a02323;
}

.block-language-gantt .dependencies path.critical {
    stroke: #a02323;
}