.block-language-gantt .grid line {
    color: #ccc;
}

.block-language-gantt .group-block rect {
    opacity: 25%;
}

.block-language-gantt .group-block rect.even {
    fill: #999;
}

.block-language-gantt .group-block rect.odd {
    fill: #777;
}

.block-language-gantt .group-block-label text {
    fill: white;
    font-size: 1em;
}

.block-language-gantt .tasks-labels text {
    fill: white;
    text-anchor: middle;
    font-size: 0.8em;
}

.block-language-gantt .tasks rect {
    fill: darkcyan;
}

.block-language-gantt .milestones-labels text {
    fill: white;
    text-anchor: middle;
    font-size: 0.7em;
}

.block-language-gantt .milestones rect {
    fill: darkcyan;
    stroke: #aaa;
    stroke-width: 1px;
}

.block-language-gantt .today-marker line {
    stroke: brown;
    stroke-width: 2px;
}

.dependencies path {
    stroke-width: 2px;
    stroke: #c7254e;
    fill: none;
}

.dependencies path.arrow-head {
    stroke: none;
    fill: #c7254e;
}

text.title{
    fill: #ddd;
    text-anchor: middle;
    font-size: 1.5em;
    font-weight: bold;
}